<div class="viewpoint">
  <header class="header">
  <%= render 'shared/header' %>


  <div class="wrapper wrapper_padding clearfix">
    <div class="col-1 about homepage_content">
      <h2>About</h2>
      <hr>
      <p>I'm Joe, a Full Stack Developer from London, UK.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, vitae.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam id officia ex, iusto voluptate ad commodi a veniam, rerum eveniet?</p>
    </div>
    <div class="col-2 homepage_content">
      <h2>Writings</h2>
      <hr>
      <% @articles.each do |article| %>
        <h3><a href=""><%= link_to article.title, article %></a></h3>
        <p class="date"><%= article.created_at.strftime("%b %d, %Y" ) %></p>
      <% end %>

    </div>
    <div class="col-3 homepage_content">
      <h2>Projects</h2>
      <hr>
      <% @projects.each do |project| %>
        <h3><a href=""><%= link_to project.title, project %></a></h3>
        <p class="date"><%= project.created_at.strftime("%b %d, %Y" ) %></p>
      <% end %>

    </div>
  </div>
   </header>

</div>
