<%= form_for @article do |f| %>
  <% if @article.errors.any? %>
  <h2><%= pluralize(@article.errors.count, "error") %> prevented this article from saving:</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

  <%= f.label :title %><br>
  <%= f.text_field :title %>

  <br>
  <br>

  <%= f.label :content, "Write your article here" %><br>
  <%= f.text_area :content, input_html: {style: 'height:200px'}  %>

  <br>
  <br>

  <%= f.submit %>


<% end %>
