<div id="post_show_content" class="skinny-wrapper wrapper_padding">
  <header>
    <p class="date"><%=  @article.created_at.strftime("%b %d, %Y" ) %></p>
    <h1><%= @article.title %></h1>
    <hr>
  </header>

  <div id="content">
    <p><%= markdown @article.content %></p>
  </div>

  <hr>

  <%= link_to "Edit", edit_article_path(@article) %>
  <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure you want to delete this article?'} %>

  <div id="share_box">
    <p>Share <%= @article.title %></p>
    <!-- Twitter -->
    <a onClick="javascript:window.open('http://twitter.com/share?text=<%= @article.title %> &amp;url=<%= url_for([@article, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fab fa-twitter"></i></a>
    <!-- Facebook -->
     <a onClick="javascript:window.open('http://facebook.com/sharer.php?u=<%= url_for([@article, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fab fa-facebook"></i></a>
    <!-- LinkedIn -->
     <a onClick="javascript:window.open('http://plus.google.com/share?url=<%= url_for([@article, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fab fa-linkedin"></i></a>
  </div>

  <hr>

</div>
